/* theme color */
// $--color-primary: teal; /* icon font path, required */
// $--font-path: "~element-plus/lib/theme-chalk/fonts";
$--border-color-base: #9CA3AF;
// $--border-color-base: #000;
// $--border-color-base: #DCDFE6;
$--border-color-light: #D1D5DB;
// $--border-color-light: #E4E7ED;
$--border-color-lighter: #E5E7EB;
// $--border-color-lighter: #EBEEF5;


// .test {
//   background-color: #000;
// }

// @import "~element-plus/packages/theme-chalk/src/index";
